{
    "ignore": [
        "*.scss",
        "/node_modules/"
    ],
    "presets": [
        "latest",
        "react"
    ],
    "plugins": [
        "transform-regenerator",
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}