.ListingPageItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #dfe0ec;

    &-image {
      max-width: 100%;
      margin: 0 auto 20px;
    }

    &-productLabel {
      background: #f4452d;
      color: #fff;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
      font-size: 12px;
      line-height: 12px;
      margin-left: -10px;
      display: inline-block;
      margin-bottom: 20px;
    }

    &-title {
      color: #000;
      font-size: 25px;
      margin: 0 0 20px 0;
      padding: 0;
    }

    &-description {
      color: #000;
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 38px;
    }

    &-priceLabel {
      color: #626681;
      font-size: 16px;
      font-weight: normal;
      margin-right: 8px;
    }

    &-price {
      color: #000;
      font-size: 24px;
      font-weight: bold;
    }

    &-buyNowLink {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      border: 6px solid #00fc35;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        background: #00fc35;
        border: 6px solid #000;
      }
    }
}


@media screen and (min-width: 480px) {
  .ListingPageItem {
    padding: 20px;

    &-productLabel {
      margin-left: -20px;
      padding: 5px 20px 5px 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .ListingPageItem {
    padding: 35px;

    &-productLabel {
      margin-left: -35px;
      padding: 5px 20px 5px 35px;
    }
  }
}

